.header-container {
    background-color: rgba(26, 26, 26, 1);
}

.events-container {
    justify-content: center;
    background-color: rgba(26, 26, 26, 1);
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.bisection {
    display: flex;
    flex-wrap: wrap;
}

.bisection-text {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    @media (max-width: 768px) {
        flex-basis: 100%;
    }
}

.bisection-image {
    height: 300px;
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
        flex-basis: 100%;
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}