.header-container {
    background-color: rgba(26, 26, 26, 1);
}

.events-container {
    justify-content: center;
    background-color: rgba(26, 26, 26, 1);
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.form-container {
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    @media (max-width: 768px) {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.input-container {
    display: flex;
    justify-content: center;
}

.submit-button {
    width: 100%;
}

app-magazine-component {
    flex-basis: 100%;
}

.magazine-container {
    flex-wrap: wrap;
    justify-content: center;
}