<nav class="navbar sticky-top navbar-expand-lg bg-primary shadow" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BSO Icon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-4 dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Concerts & Events
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="subscription-concerts">Subscription Concerts</a></li>
            <li><a class="dropdown-item" href="all-events">All Events</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="newcomer-guide">Newcomer's Guide</a></li>
          </ul>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="education">Education</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="support-your-symphony">Support Your Symphony</a>
        </li>
        <li class="nav-item mx-4 dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About Us
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="history-and-mission">Our History and Mission</a></li>
            <li><a class="dropdown-item" href="music-director">Music Director</a></li>
            <li><a class="dropdown-item" href="musicians">Musicians</a></li>
            <li><a class="dropdown-item" href="staff">Staff</a></li>
            <li><a class="dropdown-item" href="career-opportunities">Career Opportunities</a></li>
            <li><a class="dropdown-item" href="board-of-directors">Board of Directors</a></li>
            <li><a class="dropdown-item" href="season-sponsors">Our Season Sponsors</a></li>
            <li><a class="dropdown-item" href="concert-hall">Concert Hall</a></li>
          </ul>
        </li>
        <!-- Add a check here to make sure admin is logged in before displaying the 'Administration' tab-->
         <li class="nav-item mx-4">
          <a class="nav-link" href="admin" routerLink="admin">Administration</a>
         </li>
      </ul>
      <button class="btn btn-warning d-flex" type="button" style="float: right;">Donate</button>
    </div>
  </div>
</nav>