<nav class="navbar sticky-top navbar-expand-lg bg-primary shadow" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BSO Icon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-4 dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Concerts & Events
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Subscription Concerts</a></li>
            <li><a class="dropdown-item" href="#">All Events</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Newcomer's Guide</a></li>
          </ul>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="#">Education</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="#">Support Your Symphony</a>
        </li>
        <li class="nav-item mx-4 dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About Us
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Our History and Mission</a></li>
            <li><a class="dropdown-item" href="#">Music Director</a></li>
            <li><a class="dropdown-item" href="#">Musicians</a></li>
            <li><a class="dropdown-item" href="#">Staff</a></li>
            <li><a class="dropdown-item" href="#">Career Opportunities</a></li>
            <li><a class="dropdown-item" href="#">Board of Directors</a></li>
            <li><a class="dropdown-item" href="#">Our Season Sponsors</a></li>
            <li><a class="dropdown-item" href="#">Concert Hall</a></li>
          </ul>
        </li>
      </ul>
      <button class="btn btn-warning d-flex" type="button" style="float: right;">Donate</button>
    </div>
  </div>
</nav>