.header-container {
    background-color: rgba(26, 26, 26, 1);
}

.history-container {
    background-color: rgba(26, 26, 26, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.history-text {
    flex-basis: 50%;
    @media (max-width: 768px) {
        flex-basis: 100%;
    }
}

.history-image {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: 768px) {
        flex-basis: 100%;
    }
}

.vertical-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-bottom: 1rem;
}

.horizontal-image {
    overflow-x: hidden;
    flex-basis: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.images-container {
    max-height: 100%;
    display: flex;
    flex-direction: column;
}