<div class="hall-container">
    <div class="hall-text-container text-center">
        <div class="text-box">
            <h1 class="my-3">Wattenbarger Auditorium</h1>
            <p>The auditorium is named for the orchestra’s founder, James Wattenbarger, who chaired the Tennessee Technological University Department of Music from 1963 to 1982. Wattenbarger, who studied violin and conducting at the Vienna Conservatory, was a seminal force at both the university and in music education statewide. He designed the Bryan Fine Arts Building, and under his watch, music enrollment at the university soared – largely because he was also able to increase the number of music faculty as well. After returning to the faculty in 1982, Wattenbarger continued to direct what was then called the Tech Community Symphony Orchestra, a position he held until retiring in 1990. Wattenbarger passed away in March 2006.
                Most of Tech's musical performances take place in Wattenbarger Auditorium. For a current schedule of events, visit the
                School of Music at Tennessee Tech's web site.
            </p>
        </div>
    </div>
</div>
<div class="break"></div>
<div class="building-container">
    <div class="building-text-container text-center">
        <div class="text-box">
            <h1 class="my-3">Bryan Fine Arts Building</h1>
            <p>When it opened in 1981, the Bryan Fine Arts Building was named after Charles Faulkner Bryan, whose work was the first by a Tennessee  composer to be premiered by a large professional orchestra. Head of the Tennessee Tech music program during the Depression Era, Bryan went on to graduate studies at Peabody College in Nashville and Yale University, studying under German composer Paul Hindemith. In 1945, Bryan became the first Tennessee composer to win a Guggenheim Fellowship. His works were performed by, among others, the Cincinnati Symphony Orchestra and the Julliard Chorus and Orchestra, conducted by Robert Shaw at Carnegie Hall.
            </p>
        </div>
    </div>
</div>
