@if (!isHero()) {
    <div class="card text-center standard-event" style="width: 20rem;" (click)="navigateToDetail(title())">
        <img [src]="imageUrl()" class="card-img-top" alt="...">
        <div class="card-body justify-content-center align-items-center d-flex flex-column">
            <h5 class="card-title">{{title()}}</h5>
            <p class="card-text">{{description()}}</p>
            <p class="card-text">{{date() | date: 'MMMM d, h:mm a'}}</p>
            <p class="card-text">{{location()}}</p>
            @if (type() === 'Education') {
                <button class="btn btn-primary disabled">Free Admission</button>
            } @else {
                <button class="btn btn-primary" type="button" (click)="navigateToDetail(title())">Buy Tickets</button>
            }
        </div>
    </div>
} @else {
    <div class="hero-container">
        <div class="hero-overlay">
            <div class="gradient"></div>
            <img class="hero-image" [src]="imageUrl()" alt="Hero Image"/>
        </div>
        
        <div class="hero-text">
            <h1 class="text-center" style="font-weight: bold;">{{title()}}</h1>
            <p class="text-center hero-description">{{description()}}</p>
            <h3 class="text-center">{{date() | date: 'MMMM d, h:mm a'}}</h3>
            <hr/>
            <h4 class="text-center">{{location()}}</h4>
            <a class="card-text mt-2" type="button" (click)="navigateToDetail(title())">More Info</a>
            @if (type() === 'Education') {
                <button class="btn btn-primary btn-lg mt-4 disabled">Free Admission</button>
            } @else {
                <button class="btn btn-primary btn-lg mt-4" type="button" (click)="navigateToDetail(title())">Buy Tickets</button>
            }
        </div>
    </div>
}
