@if (!isHero()) {
    <div class="event-component card text-center" style="width: 20rem;">
        <img [src]="imageUrl()" class="card-img-top" alt="...">
        <div class="card-body justify-content-center align-items-center d-flex flex-column">
            <h5 class="card-title">{{title()}}</h5>
            <p class="card-text">{{description()}}</p>
            <p class="card-text">{{date() | date: 'MMMM d, h:mm a'}}</p>
            <p class="card-text">{{location()}}</p>
            @if (type() === 'Education') {
                <button class="btn btn-primary disabled">Free Admission</button>
            } @else {
                <a href="#" class="btn btn-primary">Buy Tickets</a>
            }
        </div>
    </div>
} @else {
    <div class="hero-container">
        <div class="hero-overlay">
            <div class="gradient"></div>
            <img class="hero-image" [src]="imageUrl()" alt="Hero Image"/>
        </div>
        
        <div class="hero-text">
            <h1 style="font-weight: bold;">{{title()}}</h1>
            <p class="hero-description">{{description()}}</p>
            <h3>{{date() | date: 'MMMM d, h:mm a'}}</h3>
            <hr/>
            <h4>{{location()}}</h4>
            @if (type() === 'Education') {
                <button class="btn btn-primary btn-lg mt-4 disabled">Free Admission</button>
            } @else {
                <button class="btn btn-primary btn-lg mt-4" type="submit">Buy Tickets</button>
            }
        </div>
    </div>
}
