.standard-event:hover {
    transform: scale(1.03);
    transition: transform 0.2s linear;
    cursor: pointer;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    min-height: calc(70vh - 88px); /* Adjust for navbar height */
    background: linear-gradient(to top,rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0) 60%);
}

.hero-text, .hero-image {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero-text {
    padding: 1rem;
    align-items: center;
    margin-bottom: 3rem;
}

.gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to top, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0) 60%);
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    top: 0;
    left: 0;
    min-height: calc(70vh - 56px); /* Adjust for navbar height */

}

.hero-overlay {
    position: relative;
    width: 50%;
}

.hero-description {
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: center;
}

@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
    }
    .hero-text, .hero-image, .hero-overlay {
        flex: none;
        width: 100%;
        height: auto;
    }
    .hero-image {
        min-height: calc(40vh - 56px);
    }
}