.header-container {
    background-color: rgba(26, 26, 26, 1);
    padding-left: 20%;
    padding-right: 20%;
}

.support-button {
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.card-body {
    background-color: rgba(26, 26, 26, 1);
}