<div class="header-container pb-3">
    <h1 class="text-center text-light mb-0 p-5">Support Your Symphony!</h1>
    <p class="text-center text-light fs-3">Donate to the Bryan Symphony Orchestra through Zeffy and be a part of our mission to enrich, entertain, and education through live music!
    <p class="text-center text-light fs-3">Make a difference in our Upper Cumberland community!</p>
    <div class="d-flex justify-content-center">
        <a class="btn btn-lg btn-warning m-5" type="button" href="https://www.zeffy.com/en-US/donation-form/28320fae-9032-48ad-b4bb-29fa7d1401d0">Donate</a>
    </div>
</div>
