.events-container {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12rem;
    row-gap: 4rem;
    padding: 2rem;
    background-color: rgb(26, 26, 26);
}