<div class="hero-container">
    <div class="hero-image">
    </div>
    <div class="hero-text">
        <h1 style="font-weight: bold;">Vivaldi's Four Seasons</h1>
        <p class="hero-description">The Four Seasons (Italian: Le quattro stagioni) is a group of four violin concerti by Italian composer Antonio Vivaldi, each of which gives musical expression to a season of the year.</p>
        <h3>October 12, 2025, 3:00 PM</h3>
        <hr/>
        <h4>Wattenbarger Auditorium</h4>
        <button class="btn btn-primary btn-lg mt-4" type="submit">Buy Tickets</button>
    </div>
</div>