@if (events().length > 0) {
    <app-event-component
      [isHero]="true"
      [title]="heroEvent() ? heroEvent()!.title : ''"
      [description]="heroEvent() ? heroEvent()!.description : ''"
      [date]="heroEvent() ? heroEvent()!.date : ''"
      [location]="heroEvent() ? heroEvent()!.location : ''"
      [imageUrl]="heroEvent() ? heroEvent()!.imageurl : ''"></app-event-component>
  }
  <div class="events-container">
    @for (event of upcomingEvents(); track event.title) {
      <app-event-component
        [isHero]="false"
        [title]="event.title"
        [description]="event.description"
        [date]="event.date"
        [location]="event.location"
        [imageUrl]="event.imageurl"
      ></app-event-component>
    }
  </div>
  <div class="bg-primary d-flex justify-content-center p-4 pb-5">
    <a class="btn btn-secondary" type="button" href="all-events" routerLink="all-events">See All</a>
  </div>
