.events-container {
    
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12rem;
    row-gap: 4rem;
    padding: 2rem;
    background-color: rgb(26, 26, 26);
}

.form-container {
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    @media (max-width: 768px) {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.form-box {
    margin: 2rem;
}

.submit-button {
    width: 100%;
}

.break {
    flex-basis: 100%;
    height: 0;
}