<div class="header-container p-3">
    <h2 class="text-light text-center">Newcomer's Guide to the Symphony</h2>
</div>
<div class="instructions-container">
    <div class="card text-center m-5" style="width: 20rem;">
        <img [src]="'bso.avif'" class="card-img-top" alt="...">
        <div class="card-body justify-content-center align-items-center d-flex flex-column">
            <h5 class="card-title">What do I wear?</h5>
            <p class="card-text">Our orchestra and conductor wear all black, instead of what used to be the traditional white tie and tails. Guest artists will wear elegant formal wear, and your executive director often wears a floor-length dress to speak at the beginning of the concert, so that's what you'll see on the stage. Most of our attendees wear something partway between dressy casual and semi-formal. We recommend wearing what is comfortable and fun for you: a lot of people enjoy the opportunity to dress up for an event like a concert, but it certainly isn't necessary. Don't forget to take the opportunity to take a picture in front of our photo-backdrop in the lobby!</p>
        </div>
    </div>
    <div class="card text-center m-5" style="width: 20rem;">
        <img [src]="'bso.avif'" class="card-img-top" alt="...">
        <div class="card-body justify-content-center align-items-center d-flex flex-column">
            <h5 class="card-title">Where do I park?</h5>
            <p class="card-text">Parking can be found across from our hall at 1150 N. Dixie Ave., both in the driveway of the Tennessee Technological University President's residence, and in the lot adjacent to it. There is open parking around and behind the building on a Sunday as well.</p>
        </div>
    </div>
    <div class="card text-center m-5" style="width: 20rem;">
        <img [src]="'bso.avif'" class="card-img-top" alt="...">
        <div class="card-body justify-content-center align-items-center d-flex flex-column">
            <h5 class="card-title">Will it be fun?</h5>
            <p class="card-text">Absolutely! It is, admittedly a different kind of fun from something like an amusement park or festival, but fun nonetheless. There is nothing like the experience of live music, and honestly, it helps ground you in your body and it's an enriching experience. Our music director and conductor, Dan Allcott, approaches the music with a fervent enthusiasm, and will often take a moment between pieces to talk about the music. There is also the social element: it's awesome to meet new people at intermission and after the concert, including the musicians!</p>
        </div>
    </div>
    <div class="card text-center m-5" style="width: 20rem;">
        <img [src]="'bso.avif'" class="card-img-top" alt="...">
        <div class="card-body justify-content-center align-items-center d-flex flex-column">
            <h5 class="card-title">Why does everyone tune to the oboe?</h5>
            <p class="card-text">The oboe plays an "A" in order to tune the orchestra. It is an easy instrument to hear, and the oboe's pitch is secure and reliable.</p>
        </div>
    </div>
    <div class="card text-center m-5" style="width: 20rem;">
        <img [src]="'bso.avif'" class="card-img-top" alt="...">
        <div class="card-body justify-content-center align-items-center d-flex flex-column">
            <h5 class="card-title">When do I clap?</h5>
            <p class="card-text">Worried about clapping at the wrong time? It happens all of the time. You applaud the concertmaster when he comes on stage (he's the first violin player), and you applaud the conductor when he comes on stage, every time he comes on stage. You applaud at the end of an entire symphonic work (song or piece of music), but not during each pause between movements (each part of the piece of music). Your program will list everything, and you can see how many parts a piece of music has and count the pauses to know when you're actually at the end of the piece of music. You keep applauding as the conductor recognizes musicians or sections of the orchestra (groups of like instruments) that had solos or performed stand-out performances during the piece of music.</p>
        </div>
    </div>
    <div class="card text-center m-5" style="width: 20rem;">
        <img [src]="'bso.avif'" class="card-img-top" alt="...">
        <div class="card-body justify-content-center align-items-center d-flex flex-column">
            <h5 class="card-title">Other Questions?</h5>
            <p class="card-text">Please don't hesitate to call or email us! The Executive Director, Rachel, and the Director of Patron Relations and Marketing, Sara, are passionate about making symphonic music accessible for all people and would be happy to answer any and all questions!</p>
        </div>
    </div>
</div>
