.personnel-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(26, 26, 26, 1);
}

.description-text {
    margin-left: 25%;
    margin-right: 25%;

    @media (max-width: 768px) {
        margin-left: 10%;
        margin-right: 10%;
    }
}