@if (!isHero()) {
    <div class="person-component card text-center" style="width: 20rem;">
        <img [src]="imageUrl()" class="card-img-top" alt="...">
        <div class="card-body justify-content-center align-items-center d-flex flex-column">
            <h5 class="card-title">{{fullName()}}</h5>
            <p class="card-text">{{title()}}</p>
            <p class="card-text">{{description()}}</p>
            <a href="mailto:{{email()}}" target="_blank" class="card-text">{{email()}}</a>
            <p class="card-text">{{phone()}}</p>
        </div>
    </div>
} @else {
    <div class="hero-container">
        <div class="hero-overlay">
            <div class="gradient"></div>
            <img class="hero-image" [src]="imageUrl()" alt="Hero Image"/>
        </div>
        
        <div class="hero-text">
            <h1 class="text-light" style="font-weight: bold;">{{fullName()}}</h1>
            <p class="text-light">{{title()}}</p>
            <p class="text-light text-center hero-description">{{description()}}</p>
            <hr/>
            <a href="mailto:{{email()}}">{{email()}}</a>
            <h4>{{phone()}}</h4>
        </div>
    </div>
}
